body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 18px;
}

#keyword-input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 5px;
}

#add-keyword-btn {
  margin-bottom: 10px;
}

.file-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

#file-input {
  margin-bottom: 5px;
}

#optimize-input {
  margin-left: 10px;
}

#delete-all-btn {
  margin-bottom: 10px;
}

.note {
  font-size: 12px;
  color: red;
  margin-bottom: 10px;
}

#keywords-list {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.keyword-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  word-break: break-word;
}

.keyword-item button {
  margin-left: 10px;
}
